* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@import 'promo';
@import 'header';
@import 'buttons';
@import 'media';
@import 'advantages';
@import 'title';
@import 'consultation';
@import 'forms';
@import 'carousel';
@import 'catalog';
@import 'feed';
@import 'footer';
@import 'modal';